{
  "plugins": ["prettier"],
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:react/recommended", "airbnb-typescript", "plugin:prettier/recommended"],
  "rules": {
    "react/button-has-type": 0,
    "arrow-parens": [
      "error",
      "always",
      {
        "requireForBlockBody": false
      }
    ],
    "camelcase": "off",
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "import/prefer-default-export": 0,
    "implicit-arrow-linebreak": 0,
    "no-underscore-dangle": 0,
    "no-array-constructor": "off",
    "@typescript-eslint/no-array-constructor": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "semi": "off",
    "@typescript-eslint/semi": ["error", "always"],
    "max-len": [1, 120],
    "prefer-template": "error",
    "react/no-unescaped-entities": "off"
  },
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": true,
      "typescript": {}
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  }
}
