@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Regular'), local('Atkinson-Hyperlegible-Regular'),
      url('./assets/fonts/Atkinson-Hyperlegible-Regular.woff2') format('woff2'),
      url('./assets/fonts/Atkinson-Hyperlegible-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Bold'), local('Atkinson-Hyperlegible-Bold'),
      url('./assets/fonts/Atkinson-Hyperlegible-Bold.woff2') format('woff2'),
      url('./assets/fonts/Atkinson-Hyperlegible-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Bold Italic'), local('Atkinson-Hyperlegible-BoldItalic'),
      url('./assets/fonts/Atkinson-Hyperlegible-BoldItalic.woff2') format('woff2'),
      url('./assets/fonts/Atkinson-Hyperlegible-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Italic'), local('Atkinson-Hyperlegible-Italic'),
      url('./assets/fonts/Atkinson-Hyperlegible-Italic.woff2') format('woff2'),
      url('./assets/fonts/Atkinson-Hyperlegible-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
}

@layer components {
  .checkbox-lena-blue[type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23223A7A' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
}

.__react_component_tooltip.show {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  padding: 15px 30px;
  opacity: 1!important;
}

.__react_component_tooltip.place-right::before {
  z-index: 9;
  content: url(https://app-dev-standard.projetttv.org/images/arrow_tooltip.png);
  border: none!important;
  left: -20px!important;
  margin-top: -16px!important;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

input[type=range] {
  -webkit-appearance: none
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

input[type=range]:focus {
  outline: none;
}

.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  background-color: #223a7a;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 33px;
  width: 33px;
  margin-top: -5px;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb {
  border: none;
  background-color: #223a7a;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 33px;
  width: 33px;
  margin-top: -5px;
  pointer-events: all;
  position: relative;
}

.overlay-1 {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  --circle-radius: 50px;
  height: 100%;
  width: 100%;
  --mask: radial-gradient(farthest-side at 50% 50%, transparent var(--circle-radius), #fff calc(var(--circle-radius) + 2px) 10%) 100% 100%/100% 100% no-repeat;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background: rgba(0, 0, 0, .8);
}

.overlay-2 {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  --circle-radius: 50px;
  height: 100%;
  width: 100%;
  --mask: radial-gradient(circle farthest-side at 50% 170px, transparent var(--circle-radius), #000 calc(var(--circle-radius) + 2px) 10%) 90% 90%/100% 100% no-repeat;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  mask-position: 50% 50%;
  background: rgba(0, 0, 0, .8);
}